:root{
    --azulclaro: #48D6ED;
    --azuloscuro: #337AB7;
    --azulnegro: #303342;
    --negro: #333333;
    --negro2: #000;
    --gris: #B2B3B3;
    --fondo: #FFFEFC;
    --verdeazul: #157A8A;
    --Magenta: #9C2759;
    --blanco: #fff;
    --degradado: linear-gradient(49.54deg, #337AB7 2.89%, #0B3860 80.34%);
}

*{
    margin: 0;
}

body{
    font-family: 'Roboto', sans-serif;
}

h1,h2,h3,h4,h5{
    font-family: 'Marcellus',serif;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--negro);
    font-size: 1.3rem;
    font-family: 'Marcellus',serif;
    padding: 1rem;
}

.item{
    padding: 1rem;
}

.menu a{
    color: var(--blanco);
    text-decoration: none;
}

.navbar-buttom{
    background-color: var(--azuloscuro);
    padding: 0.5rem 1rem;
    color: var(--blanco);
    border-radius: 5px;
    font-size: 1em;

}

.menu i{
    margin-right: 0.5rem;
}

.logo img{
    height: 3rem;
}

#features{
    background: url(/img/lobby\ 3.jpg);
    color: var(--blanco);
    padding-top: 1rem;

}
.feature-title{
    background-color: rgba(0, 0, 0, 0.35);
    text-align: center;
    padding: 0.5rem;
    font-size: 1.5rem;
}

.feature-description{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.feature-blue{
    width: 25%;
    min-width: 150px;
    max-width: 30px;
    margin: 0.8rem;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.feature-black{
    width: 25%;
    min-width: 150px;
    max-width: 30px;
    margin: 0.8rem;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
 
.feature-black i{
    font-size: 2.2em;
    margin-bottom: 1.5rem;
}

.feature-blue i{
    font-size: 2.2em;
    margin-bottom: 1.5rem;
}

.feature-blue{
    background-color: rgba(0, 50, 94, 0.59);
}
.feature-black{
    background-color: rgba(0, 0, 0, 0.59);
}